.header {
    padding: 20px 0 40px; 
    background-color: #b4ccda;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 30px;
}

.heading h1 {
    text-align: center;
    margin: 0;
    padding: 10px;
}

.heading .logo {
    width: 60px;
    height: auto;
    padding: 10px;
}

.header .subheading {
    width: 30rem;
    max-width: 90%;
    font-size: 14px;
    text-align: center;
    margin: auto;
    line-height: 16px;
}