.controls {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.controls label,
.controls label {
    width: 200px;
    font-weight: 700;
}

.controls select,
.controls input {
    width: 300px;
    padding: 5px;
    border-radius: 3px;
}

.controls input {
    width: 288px;
    border: 1px solid #777;
}

.actions {
    display: flex;
    justify-content: space-evenly;
}

.actions button {
    margin-top: 30px; 
    padding: 13px 21px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    background-color: #7b92e3;
    border: 0;
}

.actions button:hover,
.actions button:focus {
    cursor: pointer;
    background-color: #6d87e4;
}

.actions button:disabled {
    background-color: #aaa;
    cursor:not-allowed;
}
