.controls {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.controls label {
    width: 200px;
    font-size: 16px;
    font-weight: 700;
}

.controls select,
.controls input {
    width: 300px;
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
}

.controls input {
    width: 288px;
    border: 1px solid #777;
}

.actions {
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 768px) {
    .controls {
        flex-direction: column;
    }

    .controls label {
        font-size: 14px;
    }

    .controls input,
    .controls select {
        font-size: 12px;
    }
}
