.results-table {
    width: 80%;
    margin: 20px auto;
}

.results-table td,
.results-table th {
    text-align: left;
}

.results-table thead {
    font-size: 20px;
    text-decoration: underline;
}

.results-table tbody {
    font-size: 16px;
}

@media only screen and (max-width: 768px) {
    .results-table thead{
        font-size: 16px;
    }

    .results-table tbody {
        font-size: 14px;
    }
}